In [1]:
import pandas as pd

# CNN classifier results for CARS

CNN pretrained on ImageNet predicted various classes from that dataset. Now, we manually classify these classes into cars or not cars.

In [2]:
path_to_csv = 'datasets_generated_ready_models/SD_XL/classifier_predictions_top_1_cars.csv'
df_sdxl_cars = pd.read_csv(path_to_csv)
df_sdxl_cars['prediction'].unique()

array(['trailer truck, tractor trailer, trucking rig, rig, articulated lorry, semi',
       'cab, hack, taxi, taxicab', 'moving van',
       'recreational vehicle, RV, R.V.',
       'police van, police wagon, paddy wagon, patrol wagon, wagon, black Maria',
       'pickup, pickup truck', 'minivan', 'warplane, military plane',
       'convertible', 'limousine, limo', 'tow truck, tow car, wrecker',
       'sports car, sport car',
       'beach wagon, station wagon, wagon, estate car, beach waggon, station waggon, waggon',
       'Model T', 'school bus', 'racer, race car, racing car',
       'fire engine, fire truck', 'folding chair',
       'grille, radiator grille', 'jeep, landrover', 'minibus',
       'traffic light, traffic signal, stoplight',
       'gas pump, gasoline pump, petrol pump, island dispenser',
       'American lobster, Northern lobster, Maine lobster, Homarus americanus',
       'dock, dockage, docking facility', 'library',
       'streetcar, tram, tramcar, trolley, trolley car'], dtype=object)

In [3]:
path_to_csv = 'datasets_generated_ready_models/DALLE3/classifier_predictions_top_1_cars.csv'
df_dalle_cars = pd.read_csv(path_to_csv)
df_dalle_cars['prediction'].unique()

array(['sports car, sport car', 'convertible',
       'recreational vehicle, RV, R.V.', 'minibus',
       'traffic light, traffic signal, stoplight', 'fountain',
       'cab, hack, taxi, taxicab', 'pickup, pickup truck', 'comic book',
       'limousine, limo', 'tow truck, tow car, wrecker',
       'seat belt, seatbelt', 'jeep, landrover', 'Model T',
       'racer, race car, racing car', 'school bus', 'golfcart, golf cart',
       'car wheel', 'fire engine, fire truck',
       "plunger, plumber's helper",
       'cinema, movie theater, movie theatre, movie house, picture palace',
       'syringe', 'library', 'coral reef', 'toyshop',
       'container ship, containership, container vessel', 'wooden spoon',
       'crash helmet', 'minivan'], dtype=object)

In [4]:
# hand-picked class names from the predictions that represent cars or are similar

car_names = ['seat belt, seatbelt,jeep, landrover',
 'sports car, sport car',
 'pickup, pickup truck',
 'convertible',
 'school bus',
 'limousine, limo',
 'streetcar, tram, tramcar, trolley, trolley car',
 'minivan',
 'recreational vehicle, RV, R.V.',
 'racer, race car, racing car',
 'Model T',
 'tow truck, tow car, wrecker',
 'recreational vehicle, RV, R.V.,minibus',
 'beach wagon, station wagon, wagon, estate car, beach waggon, station waggon, waggon',
 'school bus,golfcart, golf cart',
 'minibus',
 'fire engine, fire truck',
 'moving van',
 'jeep, landrover',
 'police van, police wagon, paddy wagon, patrol wagon, wagon, black Maria',
 'trailer truck, tractor trailer, trucking rig, rig, articulated lorry, semi',
 'cab, hack, taxi, taxicab']

In [5]:
df_sdxl_cars['classified_as_car'] = df_sdxl_cars.prediction.apply(lambda x: 'car' if x in car_names else 'other')
cars_in_images_sdxl = (df_sdxl_cars['classified_as_car'] == 'car').sum()

print("SDXL")
print(f"Total images: {len(df_sdxl_cars)}")
print(f"Images classified as cars: {cars_in_images_sdxl}")
print(f"Percentage of images classified as cars: {cars_in_images_sdxl/len(df_sdxl_cars)*100:.2f}%")

SDXL
Total images: 50
Images classified as cars: 41
Percentage of images classified as cars: 82.00%

In [6]:
df_dalle_cars['classified_as_car'] = df_dalle_cars.prediction.apply(lambda x: 'car' if x in car_names else 'other')
cars_in_images_dalle = (df_dalle_cars['classified_as_car'] == 'car').sum()

print("DALLE")
print(f"Total images: {len(df_dalle_cars)}")
print(f"Images classified as cars: {cars_in_images_dalle}")
print(f"Percentage of images classified as cars: {cars_in_images_dalle/len(df_dalle_cars)*100:.2f}%")

DALLE
Total images: 50
Images classified as cars: 31
Percentage of images classified as cars: 62.00%

# CNN classifier results for WILDLIFE

CNN pretrained on ImageNet predicted various classes from that dataset. Now, we manually classify these classes into animals or not animals.

In [7]:
path_to_csv = 'datasets_generated_ready_models/SD_XL/classifier_predictions_top_1_wildlife.csv'
df_sdxl_wildlife = pd.read_csv(path_to_csv)
df_sdxl_wildlife['prediction'].unique()

array(['lion, king of beasts, Panthera leo',
       'African elephant, Loxodonta africana',
       'ice bear, polar bear, Ursus Maritimus, Thalarctos maritimus',
       'killer whale, killer, orca, grampus, sea wolf, Orcinus orca',
       'meerkat, mierkat',
       'bald eagle, American eagle, Haliaeetus leucocephalus',
       'king penguin, Aptenodytes patagonica', 'otter',
       'impala, Aepyceros melampus', 'coral reef',
       'brown bear, bruin, Ursus arctos', 'ibex, Capra ibex',
       'cheetah, chetah, Acinonyx jubatus', 'toucan', 'bee', 'drake',
       'tiger, Panthera tigris',
       'leatherback turtle, leatherback, leathery turtle, Dermochelys coriacea',
       'sea lion', 'great grey owl, great gray owl, Strix nebulosa',
       'flamingo', 'red fox, Vulpes vulpes', 'leopard, Panthera pardus',
       'grey whale, gray whale, devilfish, Eschrichtius gibbosus, Eschrichtius robustus',
       'bison',
       'koala, koala bear, kangaroo bear, native bear, Phascolarctos cinereus',
       'zebra', 'chimpanzee, chimp, Pan troglodytes',
       'gorilla, Gorilla gorilla', 'fountain', 'gazelle',
       'water buffalo, water ox, Asiatic buffalo, Bubalus bubalis',
       'tiger shark, Galeocerdo cuvieri', 'wallaby, brush kangaroo',
       'goose', 'hyena, hyaena', 'kite',
       'Madagascar cat, ring-tailed lemur, Lemur catta',
       'red-backed sandpiper, dunlin, Erolia alpina',
       'timber wolf, grey wolf, gray wolf, Canis lupus',
       'hippopotamus, hippo, river horse, Hippopotamus amphibius',
       'macaque', 'macaw'], dtype=object)

In [8]:
path_to_csv = 'datasets_generated_ready_models/DALLE3/classifier_predictions_top_1_wildlife.csv'
df_dalle_wildlife = pd.read_csv(path_to_csv)
df_dalle_wildlife['prediction'].unique()

array(['lion, king of beasts, Panthera leo',
       'African elephant, Loxodonta africana',
       'ice bear, polar bear, Ursus Maritimus, Thalarctos maritimus',
       'fountain', 'meerkat, mierkat',
       'bald eagle, American eagle, Haliaeetus leucocephalus',
       'king penguin, Aptenodytes patagonica', 'otter', 'alp',
       'coral reef', 'brown bear, bruin, Ursus arctos',
       'ibex, Capra ibex', 'zebra', 'toucan', 'bee', 'drake',
       'tiger, Panthera tigris', 'seashore, coast, seacoast, sea-coast',
       'sea lion', 'great grey owl, great gray owl, Strix nebulosa',
       'tiger shark, Galeocerdo cuvieri', 'flamingo',
       'kit fox, Vulpes macrotis', 'leopard, Panthera pardus',
       'grey whale, gray whale, devilfish, Eschrichtius gibbosus, Eschrichtius robustus',
       'mask', 'bison',
       'koala, koala bear, kangaroo bear, native bear, Phascolarctos cinereus',
       'chimpanzee, chimp, Pan troglodytes', 'gorilla, Gorilla gorilla',
       'water bottle', 'triceratops', 'wallaby, brush kangaroo',
       'black swan, Cygnus atratus', 'hyena, hyaena',
       'Madagascar cat, ring-tailed lemur, Lemur catta',
       'Eskimo dog, husky', 'cheetah, chetah, Acinonyx jubatus',
       'hippopotamus, hippo, river horse, Hippopotamus amphibius',
       'spider monkey, Ateles geoffroyi', 'macaw'], dtype=object)

In the classes above, most were animals, and just a few were not:

In [9]:
not_wildlife = [
    'fountain',
    'water bottle',
]

In [10]:
df_sdxl_wildlife['classified_as_wildlife'] = df_sdxl_wildlife.prediction.apply(lambda x: 'other' if x in not_wildlife else 'wildlife')
wildlife_in_images_sdxl = (df_sdxl_wildlife['classified_as_wildlife'] == 'wildlife').sum()

print("SDXL")
print(f"Total images: {len(df_sdxl_wildlife)}")
print(f"Images classified as wildlife: {wildlife_in_images_sdxl}")
print(f"Percentage of images classified as wildlife: {wildlife_in_images_sdxl/len(df_sdxl_wildlife)*100:.2f}%")

SDXL
Total images: 50
Images classified as wildlife: 49
Percentage of images classified as wildlife: 98.00%

In [11]:
df_dalle_wildlife['classified_as_wildlife'] = df_dalle_wildlife.prediction.apply(lambda x: 'other' if x in not_wildlife else 'wildlife')
wildlife_in_images_dalle = (df_dalle_wildlife['classified_as_wildlife'] == 'wildlife').sum()

print("DALLE")
print(f"Total images: {len(df_dalle_wildlife)}")
print(f"Images classified as wildlife: {wildlife_in_images_dalle}")
print(f"Percentage of images classified as wildlife: {wildlife_in_images_dalle/len(df_dalle_wildlife)*100:.2f}%")

DALLE
Total images: 50
Images classified as wildlife: 48
Percentage of images classified as wildlife: 96.00%

# Hypothesis testing

In [12]:
Sn_SDXL_cars = cars_in_images_sdxl/len(df_sdxl_cars)
Sn_DALLE_cars = cars_in_images_dalle/len(df_dalle_cars)
Sp_SDXL_wildlife = wildlife_in_images_sdxl/len(df_sdxl_wildlife)
Sp_DALLE_wildlife = wildlife_in_images_dalle/len(df_dalle_wildlife)

Sn_SDXL_cars, Sn_DALLE_cars, Sp_SDXL_wildlife, Sp_DALLE_wildlife

(0.82, 0.62, 0.98, 0.96)

In [14]:
import numpy as np

def add_results_row(results, experiment_name, N, Sn, p0_to_test=[0.5, 0.6, 0.7, 0.8, 0.9]):
    results["Method"].append("CNN")
    results["Experiment"].append(experiment_name)
    results["N"].append(N)
    results["Sn"].append(Sn)
    for p0 in p0_to_test:
        if Sn <= p0:
            results[f"p0={p0}"].append(0)
            continue
        delta = np.exp(-2*N*(Sn-p0)**2)
        results[f"p0={p0}"].append(round(1-delta, 3))
    p0_for_CI_095 = Sn - np.sqrt(np.log(0.05)/(-2*N))
    results["p0 for confidence=0.95"].append(round(p0_for_CI_095, 3))

results = {
    "Method": [],
    "Experiment": [],
    "N": [],
    "Sn" : [],
    "p0=0.5": [],
    "p0=0.6": [],
    "p0=0.7": [],
    "p0=0.8": [],
    "p0=0.9": [],
    "p0 for confidence=0.95": [],
}

add_results_row(results, "SDXL cars", len(df_sdxl_cars), Sn_SDXL_cars)
add_results_row(results, "DALLE cars", len(df_dalle_cars), Sn_DALLE_cars)
add_results_row(results, "SDXL wildlife", len(df_sdxl_wildlife), Sp_SDXL_wildlife)
add_results_row(results, "DALLE wildlife", len(df_dalle_wildlife), Sp_DALLE_wildlife)

df_results = pd.DataFrame(results)
df_results.to_csv("confidence_matrix_CNN_SDXL_DALLE.csv", index=False)
df_results

,Method,Experiment,N,Sn,p0=0.5,p0=0.6,p0=0.7,p0=0.8,p0=0.9,p0 for confidence=0.95
0,CNN,SDXL cars,50,0.82,1.000,0.992,0.763,0.039,0.000,0.647
1,CNN,DALLE cars,50,0.62,0.763,0.039,0.000,0.000,0.000,0.447
2,CNN,SDXL wildlife,50,0.98,1.000,1.000,1.000,0.961,0.473,0.807
3,CNN,DALLE wildlife,50,0.96,1.000,1.000,0.999,0.923,0.302,0.787

# Note: dalle cars top5 are include more car predictions than just top1